<app-navbar></app-navbar>

<body class="bg-dark text-white p-4">
  <div class="container-fluid">
    <div class="row">
      <!-- Primera columna: Lista de usuarios -->
      <div class="col-md-4">
        <h1 class="mb-3">Lista de todos los usuarios</h1>
        <div class="user-list" *ngFor="let usuario of userList">
          <div class="user-card mb-3">
            <label class="mr-2">{{usuario.nombre+ " "}}</label>
            <label class="mr-2">{{usuario.apellido}}</label>
            <label>{{usuario.correo}}</label>
          </div>
        </div>
      </div>

      <!-- Segunda columna: Lista de usuarios especialistas -->
      <div class="col-md-4">
        <h1 class="mb-3">Lista de usuarios especialistas</h1>
        <div *ngFor="let usuario of listaEspecialistas" class="user-card mb-3">
          <div class="font-weight-bold mb-2">Nombre: {{usuario.nombre + " "}}</div>
          <div>Apellido: {{usuario.apellido}}</div>
          <div>Correo: {{usuario.correo}}</div>
          <button (click)="eliminarUsuario(usuario?.correo)" class="btn btn-danger mt-2">Inhabilitar</button>
        </div>
      </div>

      <!-- Tercera columna: Formulario para registrar Administradores -->
      <div class="col-md-4">
        <div class="mt-4 admin-form">
          <h1 class="mb-3">Registro de Administrador</h1>
          <form>
            <!-- Campos del formulario para Administradores -->
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="nombre">
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input type="text" id="apellido" class="form-control" name="apellido"  [(ngModel)]="apellido">
            </div>
            <div class="form-group">
              <label for="edad">Edad</label>
              <input type="text" id="edad" class="form-control" name="edad"  [(ngModel)]="edad">
            </div>
            <div class="form-group">
              <label for="dni">DNI</label>
              <input type="text" id="dni" class="form-control" name="dni"  [(ngModel)]="dni">
            </div>
            <div class="form-group">
              <label for="correo">Correo</label>
              <input type="text" id="correo" class="form-control" name="correo"  [(ngModel)]="correo">
            </div>
            <div class="form-group">
              <label for="contrasena">Contraseña</label>
              <input type="password" id="contrasena" class="form-control" name="contrasena"  [(ngModel)]="contrasena">
            </div>
            <div class="form-group">
              <label for="photoPerfil">Foto de Perfil</label>
              <input type="file" class="form-control" id="photoPerfil" name="photoPerfil" accept="image/*"  [(ngModel)]="fotoPerfil" >
            </div>
            <!-- Botón de registro -->
            <button class="btn btn-outline-light btn-lg btn-submit" (click)="Registrar()">Registrar Administrador</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
