<app-navbar></app-navbar>
<div id="intro" class="bg-image shadow-2-strong d-flex align-items-center justify-content-center text-center">
    <div class="mask">
        <div class="container text-white">
            <h1 class="mb-3">Bienvenidos a la Clinica Online</h1>
            <h5 class="mb-4">¡Te damos la bienvenida a nuestra clínica online! Aquí, tu salud es nuestra prioridad. Nuestra plataforma te ofrece servicios médicos de alta calidad desde la comodidad de tu hogar. Con profesionales expertos y un enfoque integral, estamos aquí para acompañarte en tu camino hacia el bienestar. Agenda consultas virtuales, accede a tu historial médico y encuentra recursos para mantener informado sobre tu salud. Confía en nosotros para brindarte atención médica segura y personalizada. ¡Gracias por elegirnos! Estamos emocionados de ser parte de tu viaje hacia una vida más saludable.</h5>
            <button type="button" class="btn btn-primary btn-lg" style="margin-right: 8px;">Turnos por especialidad</button>
            <button type="button" class="btn btn-secondary btn-lg">Turno por profesional</button>
        </div>
    </div>
</div>

  <app-footer></app-footer>